<div class="site-navbar py-2">
    <div class="text-center">
        <div class="col-md-12">
            <p>
                Made by &copy; Wicky Hien - Fourth Year Student of UTC
                <i class="icon-heart" aria-hidden="true"></i>
            </p>
        </div>
    </div>
    <div class="container">
        <div class="d-flex align-items-center gap-3">
            <div class="logo flex-shrink-0">
                <div class="site-logo">
                    <a href="index.html" class="js-logo-clone">Pharma</a>
                </div>
            </div>
            <div class="search-warp active flex-grow-1 container">
                <input type="text" class="form-control" placeholder="Search keyword and hit enter..." />
            </div>
            <div class="icons flex-shrink-0">
                <a href="cart.html" class="icons-btn d-inline-block bag">
                    <span class="icon-shopping-bag"></span>
                    <span class="number">2</span>
                </a>
                <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none">
                    <span class="icon-menu"></span>
                </a>
            </div>
        </div>
    </div>
</div>
